:root {
  --primary-color: #d52941;
  --text-color-1: #161616;
  --text-color-2: #fffbfe;
  --gradient-bg: linear-gradient(90deg, #d52941 0%, #ef3c55 100%);
  --secondary-color: #ef3c55;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
}
